body {
    background-image: linear-gradient(rgb(159, 255, 221), rgb(6, 151, 151))
}

.container {
    max-width: 1410px;
    margin: 0 auto;
}

div.gallery {
    margin: 9px;
    border: 1px solid rgb(0, 90, 68);
    float: left;
    width: 180px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

div.gallery:hover {
    border: 1px solid rgb(0, 90, 68);
    transform: scale(1.1);
}

div.gallery img {
    width: 100%;
    height: 151px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    background-color: rgb(24, 67, 92);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

 @media (max-width:415px) {
       div.gallery {
      margin: 2% 14%;
    border: 1px solid rgb(0, 90, 68);
    float: left;
    width: auto;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
    }
